{% extends "pdc_templates/base.html" %}
{% load staticfiles %}

{% block title_block %}
    About Us
{% endblock title_block %}

{% block body_block %}
    <div class="padmefromnav"></div>
    <br>
    <!-- Card -->
    <div class="container card  col-md-11 shadow-sm">
        <div class="card-header">
            <h2 class="pdc-color text-center"><strong>ประวัติความเป็นมา</strong></h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                บริษัท พี.ดี.ซี. คอนสตรัคชั่น จำกัด ตั้งอยู่ที่เลขที่ 9/216 ซ.วัดศรีเรืองบุญ ถ.กาญจนาภิเษก หมู่ที่ 7 ตำบลมหาสวัสดิ์ อำเภอบางกรวย จังหวัดนนทบุรี ได้เริ่มก่อตั้งขึ้นและจดทะเบียนเป็นนิติบุคคลตามกฏหมายแพ่งและพาณิชย์ เมื่อวันที่ 5 มีนาคม พ.ศ. 2541 ด้วยทุนจดทะเบียน 1 ล้านบาท โดยใช้ชื่อ บริษัท พระนครออกแบบและก่อสร้าง จำกัด เพิ่มทุนจดทะเบียนเป็น 10 ล้านบาท ในปี พ.ศ. 2533 และเพิ่มทุนจดทะเบียนเป็น 30 ล้านบาท ในปี พ.ศ. 2555 
            </p>
            <p class="card-text">
                เนื่องจากบริษัทได้ดำเนินธุรกิจรับเหมาก่อสร้าง เป็นธุรกิจหลัก คณะกรรมการบริษัท จึงได้เปลี่ยนชื่อบริษัทจาก "บริษัท พระนครออกแบบและก่อสร้าง จำกัด" เป็น "บริษัท พี.ดี.ซี. คอนสตรัคชั่น จำกัด" เมื่อวันที่ 3 สิงหาคม พ.ศ. 2561
            </p>
            <p class="card-text">
                ให้บริการรับเหมาก่อสร้างอาคารโรงงาน คลังสินค้า ห้องเย็น ท่าเทียบเรือ เขื่อนป้องกันตลิ่ง บ่อบำบัดน้ำเสีย และอาคารคอนกรีตเสริมเหล็กทุกชนิด ภายใต้อุดมการณ์ "ทำงานอย่างมีคุณภาพ และคุณธรรม"               
            </p>
        </div>
    </div>
    <br>
    <!-- Members -->
    <div class="container rounded my-auto col-md-7 col-lg-5 col-xl-4" id="profile">
        <div class="card">
            <div class="row justify-content-center">
                <div class="col-md-4 order-first my-auto">
                    <a class="" href=""><img class="my-1 mx-1" src="{% static 'images/members/ceo1.jpg' %}" alt=""></a>
                </div>
                <div class="col-md-8 order-last ">
                    <div class="card-block text-center">
                        <br>
                        <h4 class="card-title">นายประดิษฐ์ อ่อนรักษ์</h4>
                        <hr>
                        <h6 class="card-text">ตำแหน่ง&nbsp;:&nbsp;กรรมการผู้จัดการ</h6>
 
                        <h6>pradit.onrak@gmail.com</h6>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <br>
    <div class="container rounded my-auto col-md-7 col-lg-5 col-xl-4" id="profile">
        <div class="card">
            <div class="row">
                <div class="col-md-4 order-first my-auto">
                    <a href=""><img class="my-1 mx-1" src="{% static 'images/members/vice1.jpg' %}" alt=""></a>
                </div>
                <div class="col-md-8 order-last ">
                    <div class="card-block text-center">
                        <br>
                        <h4 class="card-title">นายอดิศักดิ์ อ่อนรักษ์</h4>
                        <hr>
                        <h6 class="card-text">ตำแหน่ง&nbsp;:&nbsp;รองกรรมการผู้จัดการ</h6>

                        <h6>adisak_onrak@hotmail.com</h6>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <br>
    <div class="container rounded my-auto col-md-7 col-lg-5 col-xl-4" id="profile">
        <div class="card">
            <div class="row">
                <div class="col-md-4 order-first my-auto">
                    <a href=""><img class="my-1 mx-1" src="{% static 'images/members/manager1.jpg' %}" alt=""></a>
                </div>
                <div class="col-md-8 order-last ">
                    <div class="card-block text-center">
                        <br>
                        <h4 class="card-title">นางศิริรัตน์ เวียงแสน</h4>
                        <hr>
                        <h6 class="card-text">ตำแหน่ง&nbsp;:&nbsp;รองกรรมการผู้จัดการ</h6>

                        <h6>pdc_sirirat@hotmail.com</h6>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <br>
    <div class="container rounded my-auto col-md-7 col-lg-5 col-xl-4" id="profile">
        <div class="card">
            <div class="row">
                <div class="col-md-4 order-first my-auto">
                    <a href=""><img class="my-1 mx-1" src="{% static 'images/members/eng_advisor1.jpg' %}" alt=""></a>
                </div>
                <div class="col-md-8 order-last ">
                    <div class="card-block text-center">
                        <br>
                        <h4 class="card-title">นายไพบูลย์ ต้นศิริอนุสรณ์</h4>
                        <hr>
                        <h6 class="card-text">ตำแหน่ง&nbsp;:&nbsp;Engineering Advisor</h6>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <br>
    <div class="container col-md-12 text-center">
        <img class="img-fluid border rounded shadow" src="{% static 'images/members/faculty.jpg' %}" alt="">
    </div>
{% endblock body_block %}
