{% extends "pdc_templates/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Activities
{% endblock title_block %}


{% block body_block %}
<!-- Card -->
<div class="padmefromnav padmebit"></div>
<div class="container card text-center col-md-11 shadow-sm">
	<div class="card-header">
		<h2 class="pdc-color"><strong>ข่าวสารและกิจกรรม (News and Activities)</strong></h2>
    </div>
    <!-- hi -->
	<div class="card-body">
		<div class="row align-self-start col-md-12" id="activities-card">
			<div class="col-md-6">
				<div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>กิจกรรมเลี้ยงอาหารกลางวัน</strong></h4>
                        <hr>
                        <h6 class="card-text">เพื่อช่วยเหลือเด็กกำพร้าที่สถานเลี้ยงเด็กกำพร้าอำเภอปากเกร็ด จังหวัดนนทบุรี</h6>
                        <img class="img-fluid" src="{% static "images/activities/food.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>กิจกรรมจิตอาสา</strong></h4>
                        <hr>
                        <h6 class="card-text">บริษัท พี.ดี.ซี. คอนสตรัคชั้น จำกัด ได้นำทีมพนักงานพร้อมทั้งเรือท้องแบน ช่วยกันบริจาคสิ่งของ
                        ให้กับผู้ประสบอุทกภัยน้ำท่วมที่จังหวัดพระนครศรีอยุธยาเมื่อเดือนตุลาคม 2554 และ ที่จังหวัดปราจีนบุรี เมื่อวันที่ 5 ตุลาคม 2556
                        </h6>
                        <img class="img-fluid" src="{% static "images/activities/flood.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body shadow">
                        <h4 class="card-title"><strong>กิจกรรมในวาระวันครบรอบวันคล้ายวันจัดตั้งบริษัทฯ</strong></h4>
                        <hr>
                        <h6 class="card-text">ซึ่งจัดเป็นประจำทุกปี โดยจัดทำบุญเลี้ยงพระที่สำนักงาน บริจาคสิ่งของถวายวัดและกิจกรรมจิตอาสา ซึ่งได้ร่วมกันพัฒนาสถานที่ภายในวัดโคนอนมหาสวัสดิ์ให้สะอาดเป็นระเบียบเรียบร้อย ซึ่งทำให้ผู้บริหารและพนักงานต่างมีความสุขใจ
                        </h6>
                        <img class="img-fluid" src="{% static "images/activities/cleantemple.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>สัมมนา ณ เสม็ดแอนด์รีสอร์ท เกาะเสม็ด</strong></h4>
                        <hr>
                        <img class="img-fluid" src="{% static "images/activities/samed_summit.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>ตรวจสุขภาพเคลื่อนที่สำหรับคนงาน</strong></h4>
                        <hr>
                        <img class="img-fluid" src="{% static "images/activities/checkup.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>กิจกรรมติดตั้งเครื่องกรองน้ำดื่ม รร.วัดส้มเกลี้ยง จ.นนทบุรี</strong></h4>
                        <hr>
                        <img class="img-fluid" src="{% static "images/activities/schoolwater.jpg" %}" alt="">
                    </div>
                </div>
			</div>
			<div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>กิจกรรมสัมมนาภายนอก</strong></h4>
                        <hr>
                        <h6 class="card-text">พนักงานทุกคนเข้าร่วมประชุมสัมมนา ณ ไมล์ไฮ เพลเฮ้าส์ เขาใหญ่ เพื่อพัฒนาศักยภาพของพนักงาน</h6>
                        <img class="img-fluid" src="{% static "images/activities/summit.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>กิจกรรมศูนย์ฝึกอบรมเด็กและเยาวชนสิรินธร</strong></h4>
                        <hr>
                        <h6 class="card-text"></h6>
                        <img class="img-fluid" src="{% static "images/activities/foster1.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>สัมมนาเชิงปฏิบัติการณ์ โรงแรมนนทบุรีพาเลซ และ โรงแรมเดอะริช</strong></h4>
                        <hr>
                        <img class="img-fluid" src="{% static "images/activities/summit.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>ฝึกอบรมการดับเพลิงขั้นต้น</strong></h4>
                        <hr>
                        <img class="img-fluid" src="{% static "images/activities/firedrill.jpg" %}" alt="">
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"><strong>กิจกรรมมูลนิธิชัยพัฒนา</strong></h4>
                        <hr>
                        <img class="img-fluid" src="{% static "images/activities/chaipattana.jpg" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock body_block %}