<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <link rel="shortcut icon" href="{% static "images/logo_trans.png" %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title_block %}
            P.D.C. - Construction บริษัทรับเหมาก่อสร้าง ท่าเทียบเรือ อาคารโรงงาน ท่าเทียบเรือ อาคารคอนกรีตเสริมเหล็ก
        {% endblock  %}
    </title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fahkwang" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <!-- jQuery + Popper come before Bootstrap -->
    <!-- jQuery -->
    <!-- Always use non-slim version for every project! -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- Internal function JS -->
    <script src="{% static "js/pdc.js" %}"></script>
    
    <!-- Customized CSS -->
    <!-- Use django syntax to prevent error -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <!-- For gallery animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static "css/fluid-gallery.css" %}">

    <!-- For hiding page -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>

<body>
    <!-- Waiting for page to load completely -->
    <div id="cover">
    </div>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top white" id="navbar">
        <a style="text-decoration:none;" class="nav-brand mb-0 h4 fah-font" href="{% url 'index' %}">
            <img id="pdc_logo"  src="{% static "images/pdc_logo_enth.png" %}" height="130" class="d-inline-block align-middle shift-right" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- ml-auto align the div to the right side -->
            <div class="navbar-nav ml-auto quattro-font">
                <a class="nav-item nav-link theme-font-color lead cabin-font" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active theme-font-color lead cabin-font" href="{% url 'about_us' %}">About Us</a>
                <a class="nav-item nav-link theme-font-color active lead cabin-font" href="{% url 'projects' %}">Projects</a>
                <a class="nav-item nav-link theme-font-color active lead cabin-font" href="{% url 'activities' %}">News & Activities</a>
                <a class="nav-item nav-link theme-font-color active lead cabin-font" href="{% url 'contact_us' %}">Contact Us</a>
                <a class="nav-item nav-link lead cabin-font small" href="{% url 'logout' %}">
                    {% if user.is_authenticated %}
                        Hi {{ user.username }} ! Click to Logout 
                    {% else %}
                        <p>You are not logged in</p>
                        <a href="{% url 'login' %}">login</a>
                    {% endif %}
                <span class="sr-only">(current)</span></a>
                <!-- TODO: Button shows current language -->
                <!-- TODO: drop down menu selection? -->
                <!-- <a class="nav-item nav-link active" href="#">TH</a>
                <a class="nav-item nav-link disabled" href="#">EN</a> -->
            </div>
        </div>
    </nav>

    <!-- Body BLock -->
    
    {% block body_block %}

    {% endblock body_block %}

    <br>
        <!-- Footer -->
    <footer class="footer font-small">
        <!-- Copyright -->
        <div class="container col-md-12 pt-2" id="only-on-index">
                <div class="row justify-content-center">
                    <div class= "pr-4 col-md-6 map-border align-self-end text-right" id="footer-map">
                        <a href="{% url 'index' %}"><h6 class="cabin-font">Home</h6></a>
                        <hr width="30%" color="#fff" align="right">
                        <a href="{% url 'about_us' %}"><h6 class="cabin-font">About Us</h6></a>
                        <hr width="30%" color="#fff" align="right">
                        <a href="{% url 'projects' %}"><h6 class="cabin-font">Projects</h6></a>
                        <hr width="30%" color="#fff" align="right">
                        <a href="{% url 'activities' %}"><h6 class="cabin-font">News & Activities</h6></a>
                        <hr width="30%" color="#fff" align="right">
                        <a href="{% url 'contact_us' %}"><h6 class="cabin-font">Contact Us</h6></a>
                    </div>
                    <div class="pl-4 col-md-6" id="company-info">
                        <h6>บริษัท พี.ดี.ซี. คอนสตรัคชั่น จำกัด</h6>

                        <h7>ที่อยู่&nbsp;:&nbsp;9/216 ซ.วัดศรีเรืองบุญ ถ.กาญจนาภิเษก หมู่ที่ 7 ตำบลมหาสวัสดิ์ อำเภอบางกรวย จังหวัดนนทบุรี 11130</h7>
                        <h7>เบอร์โทรศัพท์&nbsp;:&nbsp;02-403-1091</h7>
                        <br>
                        <h7>เวลาทำการ&nbsp;:&nbsp;จันทร์ - ศุกร์&nbsp;&nbsp;8.00 - 17.00</h7>
                        <br>
                        <br>
                        <br>
                        <h6>P.D.C. Construction Co.,LTD</h6>
                        <h7>Address&nbsp;:&nbsp;9/216 Soi Watsrireungboon, Kanjanapisek Road, Moo.7 Mahasawat, Bangkrui, Nonthaburi 11130</h7>
                        <h7>Phone No.&nbsp;:&nbsp;02-403-1091</h7>
                        <br>
                        <h7>Operation Hours&nbsp;:&nbsp;Monday - Friday&nbsp;&nbsp;8.00 - 17.00</h7>
                        <br>
                        <br>
                        <h7 style="color:yellow;">E-mail&nbsp;:&nbsp;info@pdccon.com</h7>
                        <br>
                        <h7 style="color:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pdc_civil@hotmail.com</h7>
                    </div>
                </div>  
            </div>
        <div class="footer-copyright text-center py-3"><h7 class="white-tx">Designed and built by © 2018-19 Copyright:</h7>
            <a href=""><img class="spider" src="{% static "images/spider_logo.png" %}" alt="">&nbsp;<h7 class="white-tx">Spider Inc</h7></a>    
        </div>
    </footer>


    <!-- Animated gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.js"></script>
    <script>
        baguetteBox.run('.tz-gallery',{
            animation: 'fadeIn'
        });
    </script>
</body>
</html>