div class="container col-md-9">
  <div class="row justify-content-start">
    
    <!-- CP warehouse -->
    <div class="col-md-4"><a href="{% url 'cp_gallery' %}"><img class="img-thumbnail" src="{% static "images/cp_warehouse/cp01.jpg" %}" alt=""></a></div>
    <!-- Phettongbor warehouse -->
    <div class="col-md-4"><a href="{% url 'ptb_gallery' %}"><img class="img-thumbnail" src="{% static "images/ptb_warehouse/pw03.jpg" %}" alt=""></a></div>
    <!-- Yipinsoi factory -->
    <div class="col-md-4"><a href="{% url 'yip_gallery' %}"><img class="img-thumbnail" src="{% static "images/yipinsoi_factory/ys03.jpg" %}" alt=""></a></div>
  </div>
  <br>
  <div class="row justify-content-start">
    <!-- Samet island -->
    <div class="col-md-4"><a href="{% url 'samed_gallery' %}"><img class="img-thumbnail" src="{% static "images/samed_island/si03.jpg" %}" alt=""></a></div>
    <!-- Sangfah port -->
    <div class="col-md-4"><a href="{% url 'sangfah_gallery' %}"><img class="img-thumbnail" src="{% static "images/sangfah_port/sf03.jpg" %}" alt=""></a></div>
    <!-- Sangfah port -->
    <div class="col-md-4"><img class="" src="" alt=""></div>

  </div>
  <!-- placeholder -->
  <!-- <div class="row">
    <div class="col">7</div>
    <div class="col">8</div>
    <div class="col">9</div>
  </div> -->
</div>