<!-- Hub for gallery -->
{% extends "pdc_templates/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Portfolio
{% endblock title_block %}

{% block body_block %}
<!-- Jumbotron -->
<div class="jumbotron container col-md-11 vertical-center img-responsive">
      <div class="container col-md-8 col-11 bottomme text-center rounded blurme">
        <h4 class=""><strong>Our journey started from 1998. We take on many challenging projects such as, warehouses, cargo port, dikes, water treatment facilities, concrete-reinforced infrastructures. We approach every projects with quality and integrity as our core values.</strong></h4>
      </div>
</div>

<!-- Filter Tags -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Filter By /  :
        <button type="button" class="btn btn-primary btn-xs btn-tag">All</button>
        <button type="button" class="btn btn-primary btn-xs btn-tag">Port</button>
        <button type="button" class="btn btn-primary btn-xs btn-tag">Warehouse</button>
        <button type="button" class="btn btn-primary btn-xs btn-tag">Infrastructure</button>
        <button type="button" class="btn btn-primary btn-xs btn-tag">Office</button>
        
      </p>
    </div>  
  </div>
</div>
<!-- Description -->
<div class="container grey rounded my-auto panel shadow-sm col-11 fade-in" id="project1">
    <div class="row">
        <div class="col order-first my-auto">
            <a href="{% url 'samed_gallery' %}"><img class="img-thumbnail " src="{% static "images/projects/si04_proj.jpg" %}" alt=""></a>
        </div>
        <div class="col order-last my-auto">
          <br>
          <h3 class="font-weight-bold">ท่าเรือเกาะเสม็ด</h3>
          <h5>เจ้าของโครงการ&nbsp;:&nbsp;&nbsp;&nbsp;องค์การบริหารส่วนจังหวัดระยอง</h5>
          <br class="rwd-break">
          <h5><strong>Samed Port</strong></h5>
          <h6>Client&nbsp;:&nbsp;&nbsp;&nbsp;City of Rayong</h6>
          <hr class="" size="3">
          <a href="{% url 'samed_gallery' %}" class="btn btn-primary" role="button" aria-disabled="true">Read More</button></a>
          <div class="panel-footer tag padmetop">
            <span class="badge badge-secondary label label-primary hidden">All</span>
            <span class="badge badge-secondary label label-primary">Port</span>
          </div>
          <br>
        </div>
    </div>
</div>

<br>

<div class="container bg-white rounded my-auto panel shadow-sm col-11 fade-in" id="project2">
    <div class="row">
        <div class="col order-first my-auto">
            <a href="{% url 'cp_gallery' %}"><img class="img-thumbnail " src="{% static "images/projects/cp02_proj.jpg" %}" alt=""></a>
        </div>
        <div class="col order-last my-auto">
          <br>
          <h3 class="font-weight-bold">ซีพี</h3>
          <h5>เจ้าของโครงการ&nbsp;:&nbsp;&nbsp;&nbsp;NO DATA</h5>
          <br class="rwd-break">
          <h5>NO DATA CP Crane Infrastructure</h5>
          <h6>Client&nbsp;:&nbsp;&nbsp;&nbsp;NO DATA</h6>
          <hr class="" size="3">
          <a href="{% url 'cp_gallery' %}" class="btn btn-primary" role="button" aria-disabled="true">Read More</button></a>
          <div class="panel-footer tag padmetop">
              <span class="badge badge-secondary label label-primary hidden">All</span>
              <span class="badge badge-secondary label label-primary">Infrastructure</span>
          </div>
          <br>
        </div>
    </div>
</div>

<br>

<div class="container my-auto panel grey rounded shadow-sm col-11 fade-in" id="project3">
    <div class="row">
        <div class="col order-first my-auto">
            <a href="{% url 'yip_gallery' %}"><img class="img-thumbnail " src="{% static "images/projects/ys01_proj.jpg" %}" alt=""></a>
        </div>
        <div class="col order-last my-auto">
          <br>
          <h3 class="font-weight-bold">โรงงานผลิตปุ๋ย</h3>
          <h5>เจ้าของโครงการ&nbsp;:&nbsp;&nbsp;&nbsp;บริษัทยิบอินซอยและแยคส์จำกัด</h5>
          <br class="rwd-break">
          <h5>Fertilizer Production Building</h5>
          <h6>Client&nbsp;:&nbsp;&nbsp;&nbsp;Yip-In-Soil and Yak CO.,LTD.</h6>
          <hr class="" size="3">
          <a href="{% url 'yip_gallery' %}"class="btn btn-primary btn" role="button" aria-disabled="true">Read More</button></a>
          <div class="panel-footer tag padmetop">
              <span class="badge badge-secondary label label-primary hidden">All</span>
              <span class="badge badge-secondary label label-primary">Infrastructure</span>
          </div>
          <br>          
        </div>
    </div>
</div>

<br>

<div class="container bg-white rounded my-auto panel shadow-sm col-11 fade-in" id="project4">
    <div class="row">
        <div class="col order-first my-auto">
            <a href="{% url 'ptb_gallery' %}"><img class="img-thumbnail " src="{% static "images/projects/pw02_proj.jpg" %}" alt=""></a>
        </div>
        <div class="col order-last my-auto">
          <br>
          <h3 class="font-weight-bold">NO DATA - PTB</h3>
          <h5>เจ้าของโครงการ&nbsp;:&nbsp;&nbsp;&nbsp;NO DATA</h5>
          <br class="rwd-break">
          <h5>NO DATA - PTB</h5>
          <h6>Client&nbsp;:&nbsp;&nbsp;&nbsp;NO DATA</h6>
          <hr class="" size="3">
          <a href="{% url 'ptb_gallery' %}" class="btn btn-primary btn" role="button" aria-disabled="true">Read More</button></a>
          <div class="panel-footer tag padmetop">
              <span class="badge badge-secondary label label-primary hidden">All</span>
              <span class="badge badge-secondary label label-primary">Warehouse</span>
          </div>
          <br>
        </div>
    </div>
</div>

<br>

<div class="container grey  rounded my-auto panel shadow-sm col-11 fade-in" id="project5">
    <div class="row">
        <div class="col order-first my-auto">
            <a href="{% url 'sangfah_gallery' %}"><img class="img-thumbnail " src="{% static "images/projects/sf03_proj.jpg" %}" alt=""></a>
        </div>
        <div class="col order-last my-auto">
          <br>
          <h3 class="font-weight-bold">ก่อสร้างโครงการ Packing Building 2</h3>
          <h5>เจ้าของโครงการ&nbsp;:&nbsp;&nbsp;&nbsp;บริษัทแสงฟ้าอะกริโปรดักส์จำกัด</h5>
          <br class="rwd-break">
          <h>Packing Building</h5>
          <h6>Client&nbsp;:&nbsp;&nbsp;&nbsp;Sangfah Agri Product CO.,LTD.</h6>
          <hr class="" size="3">
          <a href="{% url 'sangfah_gallery' %}"class="btn btn-primary btn" role="button" aria-disabled="true">Read More</button></a> 
          <div class="panel-footer tag padmetop">
              <span class="badge badge-secondary label label-primary hidden">All</span>
              <span class="badge badge-secondary label label-primary">Office</span>
          </div>
        </div>
        <br>
    </div>
</div>
<br>


{% endblock body_block %}