<!-- 
    @projects gallery:
        @994px: reduce font size

    @carousel:
        @.carousel-item img {
            max-height: 365px;
            min-width: auto;
        }
            - get rid of max-height when screen size goes below 950px
            - start by cut image to not distort when the max size is reach
        
        try: set .carousel-item img {} for each scree size

    @banner for each project:
        navbar and banner

    @ each project
        - carousel col-md-5
        - carousel BG black
        - banner 300px after a certain screensize

    landing page

    @carousel on landing page
        adjust width?

    @Google map in about us page
    @padmefromnav for mobile size
    @ styles.css
        - organized everything
    @pdc.js
        - organized everything
    @waiting for page doesn't work for thailand?

    
    - Contact form incoming
    - Interactive google map will be added to the contact us page

    @gallery project
        - add padding on each pics

 -->

 <!-- 
     URL: http://spiderinc.pythonanywhere.com/
     ID: fusionbox
     Password: M0tWT@d3VRc0M$
  -->